<div>
  <h1>Icons colors</h1>
  <mat-icon color="primary">favorite</mat-icon>
  <mat-icon color="accent">favorite</mat-icon>
  <mat-icon color="warn">favorite</mat-icon>
</div>
<br />

<div>
  <h1>Buttons Icons colors</h1>
  <button mat-icon-button color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button color="color">
    <mat-icon>favorite</mat-icon>
  </button>
</div>
<br />

<div>
  <h1>Buttons Icons Fab colors</h1>
  <button mat-fab color="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-fab color="accent">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-fab color="color">
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<br />

<div>
  <h1>Buttons Icons mini Fab colors</h1>
  <button mat-mini-fab="primary">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-mini-fab="accent">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-mini-fab="color">
    <mat-icon>favorite</mat-icon>
  </button>
</div>
<br />
<hr />
